@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
header>h1{
    font-family: 'Lobster', cursive;
    font-size: 300%;
    color: rgb(81, 121, 81);
    margin-left: 2%;
    margin-right: 2%;
}

                             /* 00000000000000000 middle bar ;;;;;;;;;;;;;;; */
.locationsearchMiddlebar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 90%;
    border: rgb(255, 254, 254);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.107), 0 6px 20px 0 rgba(0, 0, 0, 0.033);
    margin-left: 1%;
    margin-left: 2%;
}
.locationnameLoclogo{
    height: 10%;
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.locLogo{
    margin-left: 5%;
    margin-right: 10%;
    color: rgb(236, 109, 109);
}

.locationText{
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 18px;
    margin-left: 4%;
    width: 95%;
}
.dropdownStic{
    height: 10%;
    width: 5%;
    margin-left: 7%;
    margin-left: 4%;
    display: flex;
    align-items: center;
}
.stick{
    margin-left:30%;
    margin-right: 10%;
    color: rgb(128, 128, 128);
}
.dropdownImage{
    color: rgb(147, 146, 146);
    rotate: 180deg;
}
.dropdownImage:hover{
    transform: rotate(180deg);
    transition: 0.3s ease-in;
}


.searchboxLogo{
    height: 10%;
    width: 50%;
    margin-left: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchLogo{
    color: grey;
}
.searchFood{
    width: 100%;
    margin-left: 4%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 100%;
    text-overflow: ellipsis;
}




                        /*    0000000000000000    login signup 0000000000000000 */
.loginSignup{
    height: 10vh;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}
.loginSignup>a{
    text-decoration: none;
    color: #464646;
}

/* display none media queries */

.mobHeader{
    display: none;
}
.mobUserimg{
    display: none;
}
.searchMoblocation{
    display: none;
}
.mobHeader415{
    display: none;
}


/* media query header */
/* @media(max-width:822px){
    .locationsearchMiddlebar{
        height: 7vh;
    }
    .dropdownStic{
        height: 7vh;
    }
    .searchboxLogo{
        height: 7vh;
    }
    .locationnameLoclogo{
        height: 7vh;
    }
} */
@media(max-width:915px){
    .mobFoodie{
        font-family: 'Lobster', cursive;
        font-size: 300%;
        color: rgb(81, 121, 81);
        margin-left: 1%;
        margin-right: 2%;
    }
    .locationsearchMiddlebar{
        display: flex;
        align-items: center;
        height: 10vh;
        width: 67%;
        margin-left: -2%;
    }
    .dropdownStic{
        height: 5vh;
    }
    .searchboxLogo{
        height: 5vh;
    }
    .locationnameLoclogo{
        height: 5vh;
    }
    .mobHeader{
        display: contents;
    }
    .fooDie{
        display: none;
    }
    .mobUserimg{
        display: contents;
        width: 20%;
        margin-left: -50%;
        margin-right: 50%;
        color:rgb(236, 109, 109);
    }
    .loginSignup{
        display: none;
    }
    .searchMoblocation{
        display: none;
    }
}
@media(max-width:542px){
    .locationsearchMiddlebar{
        font-size: 40%;
        width: 50%;
    }
    .locationnameLoclogo{
        display: flex;
        width: 45%;
        height: 10vh;
    }
    .locLogo{
    }
    .locationText{
        width: 100%;
        height: 100%;
    }
}


@media(max-width:415px){
    Header{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10%;
        width: 100%;
        font-size: 100%;
        font-family: 'Lobster', cursive;
        color: rgb(81, 121, 81);
        box-shadow: 0 4px 8px 0 rgba(146, 146, 146, 0.107), 0 6px 20px 0 rgba(81, 81, 81, 0.033);
    }

    /* .mobUserimg{
        height: 100%;
        width: 100%;
        background-color: red;
        margin-top: 100%;
    } */



    .searchMoblocation{
        display: contents;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(127, 127, 127, 0.107), 0 6px 20px 0 rgba(133, 133, 133, 0.033);
    }
    .locationnameLoclogo{
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    }
    .locLogo{
        margin: 0% 2% 0% 10%;
    }
    .locationText{
        margin: 1%;
        height:10vh ;
    }
    .stick{
        margin: 0% 0% 0% 1%;
    }
    .searchboxLogo{
        display: flex;
        width: 50%;
        margin: 0;
    }
    .searchFood{
        width: 80%;
    }
    .locationsearchMiddlebar{
        display: none;
    }
}


                        /* menu landing page */

.landigfoodsMain{
    height: 100%;
    width: 100%;
    background-color: rgb(253, 251, 251);
    padding: 3% 0% 3% 0%;
    margin: 2% 0% 2% 0%;
}

.landingHeader{
    padding: 0% 0% 0% 2%;
    color: grey;
}

.landingFoods{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0% 0% 3% 0%;
    color: rgb(107, 107, 107);
}
.foodimgDetails{
    height:100%;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0% 2% 0%;
    box-shadow: 0 4px 8px 0 rgba(195, 194, 194, 0.045), 0 6px 20px 0 rgba(187, 186, 186, 0.033);
}
.foodimgDetails>h3{
    padding: 0% 0% 5% 0%;
}
.landigImage{
    height: 100%;
    width: 100%;
    border-radius:100%;
    padding-right: 1%;
}
.eatnowlandingLink{
    height: 10%;
    width: 70%;
    border-radius: 5%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(232, 232, 232);
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.eatnowlandingImgpizza{
    rotate: 45deg;
}

/* media query 399 */

/* @media(max-width:399){

.foodimgDetails {
    height: 100%;
    width: 200%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0% 2% 0%;
    box-shadow: 0 4px 8px 0 rgba(195, 194, 194, 0.045), 0 6px 20px 0 rgba(187, 186, 186, 0.033);
}
.landigImage{
    height: 100%;
    width: 100%;
    border-radius:100%;
}
} */